 .jumbotron {
	background-color:green;
	color:white;
	margin-top: 50px;
	position:relative;
    overflow:hidden;
}	

 footer {
	padding:10px 10px 0 10px;
	background-color: gray;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-tour {
	flex: 1 250px;
	margin-top: 10px;
}
.btn-plan {
	width: 100%;
	border-radius: 0px;
}

 .footer-address-icon {
	padding-right: 10px;
}


.tab-content
{
padding-top: 10px;	
	
}