@green: #217521;
@yellow: #dbd812;
@red: #db1241;
@blanco: #ffffff;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
	margin-bottom: @bottom;
	
}

.colores (@color){
    color: @blanco;
}

.padding (@top: 0px, @right: 0px){
    padding-top: @top;
	padding-right: @right;

}


.jumbotron {
  background-color: @yellow;
  color: @blanco;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  .margenes(50px, 0px);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  margin-bottom: 0px;
   .margenes(10px, 0px);
 }
.card-tour {
  flex: 1 250px;
  .margenes(10px, 0px);
  }

.btn-plan {
  width: 100%;
  border-radius: 0px;
  }

.footer-address-icon {
 .padding(0px, 10px);
  }

.tab-content {
  .padding(10px, 0px);
  }
