.jumbotron {
  background-color: #dbd812;cd 
  color: #ffffff;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #db1241;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-tour {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-plan {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
}
