$green: #000000;
$gray:#6d756d;

@mixin margenes ($top, $bottom){
    margin-top: $top;
	margin-bottom: $bottom;
	
}

@mixin colores ($color){
    color: $color;
}

@mixin padding ($top, $right){
    padding-top: $top;
	padding-right: $right;

}


.jumbotron {
	background-color:$green;
	@include colores(#bf8624);
	margin-top: 50px;
	position:relative;
    overflow:hidden;
	@include margenes(50px, 0px);
}
	

 footer {
	padding:10px 10px 0 10px;
	background-color:$gray;
	margin-bottom: 0px;
	@include margenes(10px, 0px);
}
.card-tour {
	flex: 1 250px;
	@include margenes(10px, 0px);
}
.btn-plan {
	width: 100%;
	border-radius: 0px;
}

 .footer-address-icon {
	@include padding (0px, 10px);
}

.tab-content
{
@include padding (10px,0px);
}