.jumbotron {
  background-color: #000000;
  color: #bf8624;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #6d756d;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-tour {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-plan {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px; }
